@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Dancing Script";
}

.background {
  background-image: url("asset/bg.png");
  /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.sunflower {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  /* This makes the element a block-level element */
  /* margin-top: 5%; */
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  transition: transform 0.3s ease-out;
}

.bush {
  position: absolute;
  bottom: 0;
  /* Adjust to overlay over the sunflower */
  z-index: 2;
  /* Higher than the sunflower's z-index */
}

.bush.left {
  left: 0;
  width: 50vh;
  left: -10%;
}

.bush.center {
  width: 50vh;
  left: 50%;
  bottom: -1.5%;
  transform: translateX(-50%);
  z-index: 3;
}

.bush.right {
  right: 0;
  width: 50vh;
  right: -13%;
}

.white-flower {
  position: absolute;
  z-index: 3; /* Higher than any other element to ensure it's on top */
  width: 100vh; /* Adjust the size as necessary */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  top: 30vh;
  left: 5%;
}

.butterfly {
  position: absolute;
  z-index: 10; /* Ensures butterflies are on top of everything else */
  /* Set a specific width or height if necessary */
}

.left-butterfly {
  width: 15vh;
  left: 15%;
  top: 53%; /* Adjust the position as needed */
  transform: translateY(-50%); /* Center the butterfly vertically */
}

.right-butterfly {
  width: 12vh;
  right: 15%;
  top: 63%; /* Adjust the position as needed */
  transform: translateY(-50%); /* Center the butterfly vertically */
}

.wink {
  position: absolute;
  z-index: 999; /* A high value to ensure it's on top of everything */
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the wink */
  width: 25vh; /* Adjust the size as necessary */
  height: auto; /* Maintain aspect ratio */
}

/* btn */
#moreBtn {
  padding: 10px 20px; /* Add some padding around the text */
  background-color: #4caf50; /* Set a background color */
  color: white; /* Text color */
  border: none; /* Remove the default border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change mouse pointer on hover */
  outline: none; /* Remove the focus outline */
  font-size: 30px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  font-family: "Dancing Script";
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: all 0.3s; /* Smooth transition for hover effects */
  position: fixed; /* Fixed position */
  top: 5vh!important; /* Position from the bottom */
  left: 50%; /* Centering from the left */
  transform: translateX(-50%); /* Precise centering */
  z-index: 1000; /* Ensure it's above everything else */
}

#moreBtn:hover {
  background-color: #45a049; /* Darken the background on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
}

#moreBtn:active {
  background-color: #3e8e41; /* Even darker background when active/clicked */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Small shadow for a "pressed" effect */
}

#displayText {
  font-family: monospace;
  text-align: center; /* Center the text */
  padding: 30px 20px; /* Space between the button and the text */
  font-size: 22px;
}

@media (min-width: 768px) {
    #moreBtn {
        margin-top: 3vh!important;
        width: 30vh;
        font-size: 25px;
        top: 21vh!important;
      }
      #displayText {
        font-family: monospace;
        text-align: center; /* Center the text */
        padding: 30px 20px; /* Space between the button and the text */
        font-size: 22px;
      }
}

/* Media query for tablets */
@media (max-width: 768px) {
  .bush.left {
    left: -20%;
  }
  .bush.right {
    right: -23%;
  }
  .displayText {
    font-family: monospace;
    text-align: center; /* Center the text */
    padding: 30px 20px; /* Space between the button and the text */
    font-size: 5px;
  }
  #moreBtn {
    margin-top: 3vh!important;
    width: 30vh;
    font-size: 20px;
    top: 22vh!important;
  }
  .displayText {
    font-family: monospace;
    text-align: center; /* Center the text */
    padding: 30px 20px; /* Space between the button and the text */
    font-size: 14px!important;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .sunflower {
    width: 30vh;
    top: 50%;
  }
  .bush.left {
    left: -25%;
    width: 30vh; /* Smaller width for left bush on mobile */
  }
  .bush.center {
    width: 30vh; /* Smaller width for center bush on mobile */
  }
  .bush.right {
    right: -30%;
    width: 30vh; /* Smaller width for right bush on mobile */
  }
  .left-butterfly {
    left: 9%;
    width: 10vh;
    top: 50%;
  }
  .right-butterfly {
    right: 5%;
    width: 8vh;
    top: 75%;
  }
  .white-flower {
    top: 55%;
    width: 50vh;
  }
  .wink {
    top: 66%;
    width: 20vh;
  }
  #moreBtn {
    margin-top: 15vh!important;
    width: 30vh;
    font-size: 20px;
    top:22vh!important;
  }
  .displayText {
    font-family: monospace;
    text-align: center; /* Center the text */
    padding: 30px 20px; /* Space between the button and the text */
    font-size: 12px!important;
  }
}

@media (max-width: 375px) {
    #moreBtn {
        margin-top: 19vh;
        width: 30vh;
        font-size: 20px;
        top: 26vh!important;
      }
}