body,
html {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url("asset/bg.png");
  /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#moreBtn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
}

.sunflower {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  /* This makes the element a block-level element */
  /* margin-top: 5%; */
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  transition: transform 0.3s ease-out;
}

.bush {
  position: absolute;
  bottom: 0;
  /* Adjust to overlay over the sunflower */
  z-index: 2;
  /* Higher than the sunflower's z-index */
}

.bush.left {
  left: 0;
  width: 50vh;
  left: -10%;
}

.bush.center {
  width: 50vh;
  left: 50%;
  bottom: -1.5%;
  transform: translateX(-50%);
  z-index: 3;
}

.bush.right {
  right: 0;
  width: 50vh;
  right: -13%;
}

.white-flower {
  position: absolute;
  z-index: 3; /* Higher than any other element to ensure it's on top */
  width: 100vh; /* Adjust the size as necessary */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  top: 30vh;
  left: 5%;
}

.butterfly {
  position: absolute;
  z-index: 10; /* Ensures butterflies are on top of everything else */
  /* Set a specific width or height if necessary */
}

.left-butterfly {
  width: 15vh;
  left: 15%;
  top: 53%; /* Adjust the position as needed */
  transform: translateY(-50%); /* Center the butterfly vertically */
}

.right-butterfly {
  width: 12vh;
  right: 15%;
  top: 63%; /* Adjust the position as needed */
  transform: translateY(-50%); /* Center the butterfly vertically */
}

.wink {
  position: absolute;
  z-index: 999; /* A high value to ensure it's on top of everything */
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the wink */
  width: 25vh; /* Adjust the size as necessary */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for tablets */
@media (max-width: 768px) {
  .bush.left {
    left: -20%;
  }
  .bush.right {
    right: -23%;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .sunflower {
    width: 30vh;
    top: 50%;
  }
  .bush.left {
    left: -25%;
    width: 30vh; /* Smaller width for left bush on mobile */
  }
  .bush.center {
    width: 30vh; /* Smaller width for center bush on mobile */
  }
  .bush.right {
    right: -30%;
    width: 30vh; /* Smaller width for right bush on mobile */
  }
  .left-butterfly{
    left: 9%;
    width: 10vh;
    top: 50%;
  }
  .right-butterfly{
    right: 5%;
    width: 8vh;
    top: 75%;
  }
  .white-flower{
    top: 55%;
    width: 50vh;
  }
  .wink{
    top: 66%;
    width: 20vh;
  }
}
